<% if user_signed_in? %>
	<div id="new_game">New Game</div>
<% else %>
	<div id="start_page">
	<h2>Welcome to Gem Tower Defense!</h2>
	<p>Please log in to play, or sign up for a free account</p>
	</div>
<% end %>